<div id="chats-popup" class="popup-window container-fluid" v-cloak>

    <div id="chat-window-popup" class="row chat-window-popup my-1 mx-1">

        <div id="chatbox-portal" class="col-12 chatbox-portal">
            <div class="container-fluidx sticky-top">
                <div class="row my-2">
                    <div class="col-2">
                        <div>
                            <img class="chat-user-head-img" src="../../images/t/twoAfricanLadies.png" />
                        </div>
                    </div>
                    <div class="col-7 p-2 chat-banner-name">Rafiki Yangu </div>
                    
                    <div class="col-2 pt-2 pr-3 "> 
                            <i class="fa fa-search control-icons" aria-hidden="true"></i> 
                    </div>
                    <div class="col-1 pt-2 "> 
                            <i class="fa fa-ellipsis-v control-icons" aria-hidden="true"></i> 
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>