<div id="chats-popup" class="popup-window container-fluid" v-cloak>

    <div id="chat-window-popup" class="row chat-window-popup my-1 mx-1">

        <div id="chatbox-portal" class="col-12 chatbox-portal">
            <div class="container-fluidx sticky-top">
                <div class="row my-2">
                    <div class="col-2 col-sm-1">
                        <div class="float-right">
                            <img class="float-right chat-user-head-img" src="../../images/t/twoAfricanLadies.png" />
                        </div>
                    </div>
                    <div class="col-7 col-sm-9 p-2 float-left chat-banner-name">Rafiki Yangu </div>
                    
                    <div class="col-2 col-sm-1 pt-2 float-right pr-3 "> 
                            <i class="fa fa-search control-icons w-2"  aria-hidden="true"></i> 
                    </div>
                    <div class="col-1 col-sm-1 pt-2  float-right "> 
                            <i class="fa fa-ellipsis-v float-right w-1 control-icons" aria-hidden="true"></i> 
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>