<div id="chat-window" class="container-fluid my-5" v-cloak>
    <div class="row chat-window-manubar">
        <div class="col col-sm-2 chat-menubar-item">
           Chat 1 
        </div>
        
        <div class="col col-sm-2 chat-menubar-item">
            Chat 2 
        </div>
    </div>
</div>

    