
<div id="chat-window" class="container-fluid" v-cloak>
    <div class="row chat-window-manubar">
        <div class="col col-sm-2 chat-menubar-item my-1 mx-1">
           Chat 1: Bla bla bla bla 
        </div>
        
        <div class="col col-sm-2 chat-menubar-item  my-1 mx-1">
            <a @click="begoneDemon()">Chat 2: Bla bla bla bla </a> 
        </div>
    </div>
</div>

<!--script src="/js/pages/chat-window/chat-window.page.js"></script-->
    