<div id="rafikis-popup" class="popup-window container-fluid hidden-popup" v-cloak>

    <div id="chat-window-popup" class="row chat-window-popup my-1 mx-1">

        <div id="chatbox-shortcuts-div" class="col-1 chatbox-shortcuts d-none">
            <i class="fa fa-comments control-icons" aria-hidden="true"></i>
            <i class="fa fa-users control-icons" aria-hidden="true"></i>
            <i class="fa fa-user-circle control-icons" aria-hidden="true"></i>
            <i class="fa fa-cogs control-icons" aria-hidden="true"></i>
        </div>

        <div id="chatbox-historical-chats-list" class="col-12 chatbox-historical-chats-list ">
            Evaluations, notes, annotations
            <ul>
                <li>Kamau</li>
                <li>Harrison</li>

            </ul>
        </div>

        <div id="chatbox-portal" class="col-6 chatbox-portal d-none">
            Chatbox portal
        </div>

    </div>
</div>