<div id="settings-popup" class="popup-window container-fluid hidden-popup" v-cloak>

    <div id="chat-window-popup" class="row chat-window-popup my-1 mx-1">

        <div id="chatbox-shortcuts-div" class="col-2 chatbox-shortcuts d-none">
            <i class="fa fa-comments control-icons" aria-hidden="true"></i>
            <i class="fa fa-users control-icons" aria-hidden="true"></i>
            <i class="fa fa-user-circle control-icons" aria-hidden="true"></i>
            
        </div>

        <div id="chatbox-historical-chats-list" class="col-12 chatbox-historical-chats-list ">
                <br/>
                <i class="fa fa-cog control-icons" aria-hidden="true"></i> General Settings
                <br/>
                <br/>
                <i class="fa fa-user-circle control-icons" aria-hidden="true"></i> Profile Settings
                <br/>
                <br/>
        </div>

    </div>
</div>