.our-row{
    width: 700px; 
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.card-with-bg{
    /*overflow: hidden;*/
    width: 700px; 
    /*flex: 1;*/
}
.whitewashDiv{
    /*border: 1px solid red;*/
    display: inline-block;
    height: 100%;
    width: 100%;
    background: var(--Primay-White, linear-gradient(0deg, rgba(255, 255, 255, 0.986) 0%, rgb(255, 255, 255) 100%), rgb(85, 85, 85));
    opacity: 0.5;
    position: absolute;
    top: 0rem;
    left: 0rem;
    z-index: 5;
    
    /*max-height: 376px;*/
}
.buttonOverlayDiv{
    width: 60%;
    height: 100%;
    position: absolute;
    top: 3rem;
    left: 9rem;
    z-index: 5;
    max-height: 280px;
   
}
.mainDiv{
    /*padding: 1rem;*/
}
.imageDiv{
}
.imageDiv img {
    /*width: 360px;
    max-width:100%;*/
    position: absolute;
    /*top: -33px;
    left: -137px;*/
    display:block;
    height:auto;
    object-fit: contain;
}

.mobile-btn{
    /*margin: 1rem;*/
    margin-bottom: 2.5rem;
    align-items: flex-start;
    height: 2.5rem;
    text-align: center;

    /*gap: 1rem;
    align-self: stretch;*/
    text-decoration: none;
    font-weight: 100;
    word-wrap: break-word;
    color: var(--Primary-White, rgb(255, 255, 255));
    font-size: 1rem;
    font-style: normal;
    line-height: normal;
    border-radius: 9px;
    background: var(--Primay-green, linear-gradient(0deg, rgba(4, 36, 61, 0.986) 0%, rgb(77, 76, 105) 100%), rgb(34, 47, 77));
    padding: 10px 5px 5px 5px;
    display: block;
}