@import 'prompt-font.less';

body { 
    background-color: #faebd7;
    font-family: "Prompt", sans-serif;
    font-weight: lighter;
}

/* For mobile phones, we go mobile-first */
[class*="col-"] {
    width: 100%;
}


@import 'buttons.less';

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    @import 'max-width-600px.less';
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
    @import 'min-width-600px.less';
}


/* Small devices (lportrait tablets and large phones, 768px and up) */
@media only screen and (max-width: 768px) {
    @import 'max-width-768px.less';
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    @import 'min-width-768px.less';
}


/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    @import 'min-width-992px.less';
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
    @import 'min-width-1200px.less';
}