body { 
    background-color: rgb(150, 147, 161);
}

@import 'buttons.less';


.clear-both{
    clear: both;
}
.our-row{
    display:flex;
}
.card-with-bg{
    width: 100%; 
}
.whitewashDiv{
    display: inline-block;
    height: 100%;
    width: 100%;
    background: var(--Primay-White, linear-gradient(0deg, rgba(255, 255, 255, 0.986) 0%, rgb(167, 199, 218) 100%), rgb(120, 116, 194));
    opacity: 0.7;
    position: absolute;
    top: 0rem;
    left: 0rem;
    z-index: -1;
}



.chatAreaColumn{
    width: 100%;
    box-sizing: border-box;
}
.buttonOverlayDiv{
    height: 100%;
    max-height: 280px;  
}
.mainDiv{
    
}
.imageDiv{
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}
.imageDiv img {
    position: absolute;
    display:block;
    height:auto;
    object-fit: contain;
    min-width: 100%;
    min-height: 100%;
    z-index: -2;
}

.mobile-btn{
    margin-bottom: 1.5rem;
    align-items: flex-start;
    height: 2.5rem;
    text-align: center;
    text-decoration: none;
    font-weight: 100;
    word-wrap: break-word;
    color: var(--Primary-White, rgb(255, 255, 255));
    font-size: 1rem;
    font-style: normal;
    line-height: normal;
    border-radius: 9px;
    background: var(--Primay-green, linear-gradient(0deg, rgba(14, 60, 95, 0.986) 0%, rgb(86, 98, 121) 100%), rgb(52, 73, 121));
    padding: 10px 5px 5px 5px;
    display: block;
    box-shadow: 0px 0px 5px 1px #fafff2;
    margin-top: 0.5rem;
}