/* For tablets: */
.our-col-s-1 {width: 8.33%;}
.our-col-s-2 {width: 16.66%;}
.our-col-s-3 {width: 25%;}
.our-col-s-4 {width: 33.33%;}
.our-col-s-5 {width: 41.66%;}
.our-col-s-6 {width: 50%;}
.our-col-s-7 {width: 58.33%;}
.our-col-s-8 {width: 66.66%;}
.our-col-s-9 {width: 75%;}
.our-col-s-10 {width: 83.33%;}
.our-col-s-11 {width: 91.66%;}
.our-col-s-12 {width: 100%;}



body { 
    background-color: aquamarine;
}

@import 'buttons.less';

/* For mobile phones: */
[class*="col-"] {
    width: 100%;
}
.clear-both{
    clear: both;
}
.our-row{
    display:flex;
}
.card-with-bg{
    width: 100%; 
}
.chatAreaColumn{
    width: 100%;
    box-sizing: border-box;
}
.buttonOverlayDiv{
    height: 100%;
    display: flex;
    flex-direction: column;
    padding: 2%;
    box-sizing: content-box;
}
.mainDiv{
}