body { 
    background-size: cover;
    background-position: inherit;   
}

/* For mobile phones: */
[class*="our-col-"] {
    /*width: 100%;*/
}


@import 'buttons.less';


/* For desktop: */
.our-col-sm-1 {width: 8.33%;}
.our-col-sm-2 {width: 16.66%;}
.our-col-sm-3 {width: 25%;}
.our-col-sm-4 {width: 33.33%;}
.our-col-sm-5 {width: 41.66%;}
.our-col-sm-6 {width: 50%;}
.our-col-sm-7 {width: 58.33%;}
.our-col-sm-8 {width: 66.66%;}
.our-col-sm-9 {width: 75%;}
.our-col-sm-10 {width: 83.33%;}
.our-col-sm-11 {width: 91.66%;}
.our-col-sm-12 {width: 100%;}