<div class="mainDiv">

    <div class="our-row">
        <div class="our-col-1 card-with-bg">
            <div class="imageDiv">
                <img src="../images/t/twoAfricanMen.png" alt="Paris"/>
                <div class="clear-both"></div> 
            </div> <div class="clear-both"></div>
            <div class="whitewashDiv">
                    <div class="clear-both"></div>
            </div> <div class="clear-both"></div>
            <div class="buttonOverlayDiv">
                <div class="mobile-btn suicidal">I feel suicidal</div>
                <div class="mobile-btn depressed">I feel depressed</div>
                <div class="mobile-btn just-talk">I just want to talk to someone</div>
                <div class="mobile-btn professional">I want to talk to a professional</div>
                <div class="mobile-btn professional">I'm a professional, onboard me</div>
            </div>
            <div class="clear-both"></div>
        </div>
        <div class="clear-both"></div>
    </div>
    <div class="clear-both"></div>
</div> <div class="clear-both"></div>